In [1]:
# Built in Function 
#print()-The thing we want to print o screen it will print
#Python is a case sensitive language
print('Hello World')

Hello World

In [2]:
print('Raghvendra yadav')

Raghvendra yadav

In [4]:
print(Raghvendra Yadav)
# Error Means the Syntax error 
# ' '  states tht we are printing text and it will not understand without ''

SyntaxError: invalid syntax (<ipython-input-4-b5cd5e66f5b8>, line 1)

In [5]:
print(3)

3

In [7]:
print(True)# Boolean value

True

In [13]:
# power of Print
print('Hello',4,4.5,True)
# all four value will get printed seperated by a space 

print('Hello',4,4.5,True,sep='/')# allthe values will get seperated y  /

Hello 4 4.5 True
Hello/4/4.5/True

In [14]:
print('hello')
print('World')

hello
World

In [16]:
print('hello',end='-')# here line will not Chnge 
print('world')

hello-world

# Data Types

In [17]:
## Integer Data Type 
print(6)

6

In [26]:
# Decimal or Float
print(8.85)
print(1.7e308)

8.85
1.7e+308

In [27]:
# boolean 
print(True)
print(False)

True
False

In [30]:
# Text/String
print('Hello World')

Hello World

In [32]:
# complex
print(5+6j)

(5+6j)

In [33]:
# list ->
print([1,2,3,4])

[1, 2, 3, 4]

In [34]:
#tuple
print((1,2,4,5))

(1, 2, 4, 5)

In [35]:
# sets
print({1,2,4,5})

{1, 2, 4, 5}

In [36]:
#dictionary 
print({'a':1,'b':2,'Name':'Raghvendra','Gender':'Male','Weight':69})

{'a': 1, 'b': 2, 'Name': 'Raghvendra', 'Gender': 'Male', 'Weight': 69}

In [39]:
# type function;- Give the data type of the Variable 
print(type(1.7e308))
print(type(True))
type(5+6j)

<class 'float'>
<class 'bool'>

complex

In [42]:
# Variables
# Variable Creation 
name='Raghvendra'
print(name)

Raghvendra

In [43]:
name

'Raghvendra'

In [45]:
a=5
b=12
print(a+b)

17

In [46]:
# Dynamic Typing 
# he we donot tell the Data type of Variable It is automatically understood by interpretor in python
# Static Typing
# we need to specify the type of variable

In [48]:
# Dynamic Binding we can chnge the variable Dataa type of the variable in the same program 
a=5
print(a)
a='Nitish'
print(a)

5
Nitish

In [51]:
# multiple variable creation and value assignment
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [53]:
a=b=c=5
print(a,b,c)

5 5 5

In [56]:
a=5
b=12
print(a+b)# This is a comment

17

In [57]:
# Keywords and identifiers 
# python Interpretor -English high level language  machine ko smjh nhi ata binary ata h 
# somehow code ko 1 0 k pattern m conert kia jatah toh hota h compile Ab yeh compile hota two type k compiler and interpretor 
# usse thode help Chahiye hote to wog help leywordsse milti h 
# 32 keywords hote h python m

In [61]:
# Identifiers 
# You cannot statrt with a digit 
#1name='Ragh'# error 
# you can use Upper Case lower case but special Character m underscore use krskte ho 
#first-name='Ragh'# error
_='r'
print(_)

# Identifiers cannot be keywords

r

In [63]:
# write a progrsm user  se 2 number mang kr print krenge 
# User Input 
# Static  & Dynamic Software 
# User Input 
input()

12as

'12as'

In [64]:
# Write the message
input('Apna Name Btao Bobby ')

Apna Name Btao Bobby Raghvendra

'Raghvendra'

In [77]:
# Phhle Dimaag m Fir Code M 
# Take input from user and Store them in a variable 

# Storing the entered number in the variable 
#fnum=input('Enter the first Number ')
# Storing  the integer number taking the input 
# so we will do type conversion 
# explicit and iimplicit
fnum=int(input('Enter the first Number '))
snum=int(input('Enter the Second Number'))
print(type(fnum),type(snum))
# add the 2 variable 
result=fnum+snum
# print the results
print(result)
print(type(fnum))

Enter the first Number 12
Enter the Second Number21
<class 'int'> <class 'int'>
33
<class 'int'>

In [75]:
# explicit Cobnversion
print(type(str(5)))

<class 'str'>

In [79]:
fnum=input('Enter first Number')
snum=input('Enter Second Number')
result=int(fnum)+int(snum)
print(result,type(result),type(fnum))

Enter first Number12
Enter Second Number21
33 <class 'int'> <class 'str'>

# Literals

In [80]:
# Jo raw value ko store krte h woh literal hota h eg
#a=10
#yhaa 10 literal h

10

In [81]:
#Binary
# We are trying to set the value in binary 
a=0b1010
print(a)

10

In [82]:
# decimal Repsentation
b=100

In [84]:
# occtal Repsentation
b=0o310
print(b)

200

In [87]:
# Float Literal 
float_1=10.3
float_2=1.5e3  # 1.5*1000
float_3=1.5e-3
print(float_3)

0.0015

In [89]:
# complex Literal 
x=3.14j
print(x,x.real,x.imag)

3.14j 0.0 3.14

In [101]:
a=True+4
b=False-2
print('a:',a,'\nb:',b)

a: 5
b: -2