### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [1]:
# Code here
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [3]:
# Code here
n=int(input('Enter the nth Term'))
result=0
fact=1
for i in range(1,n+1):
    fact=fact*i
    result=result+ (i/fact)
print(result)

Enter the nth Term2
2.0

# Nested Loops

In [6]:
# Examples -> unique pairs
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [22]:
# code here
rows =int(input('Enter no of rows'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter no of rows5
*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [27]:
# Code here
rows=int(input('Enter no of rows'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

Enter no of rows4
1
121
12321
1234321

# Loop Control Statement

- Break
- Continue
- Pass

In [28]:
# Break 
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [31]:
# Prime Number print krna 
lower_range=int(input('Lower Range'))
Upper_range=int(input('Upper Range'))
for i in range (lower_range,Upper_range+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

Lower Range10
Upper Range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [32]:
# continue
for i in range(1,10):
    if i ==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [33]:
# pass 
for i in range(1,10):
    pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [40]:
s='hello'
s="heloo"
s='''hello'''# for multi line Strings 
print(s)
s=str("Hello")
print(s)

hello
Hello

In [37]:
#'it's rainig outside
print("'it's rainig outside")

'it's rainig outside

## Accessing Substrings from a String

In [47]:
# Indexing 
s='Hello World'
# Positive Indexing
print(s[0:5])
print(s[0])

Hello
H

In [58]:
# Negative Indexing 
s='Hello World'
print(s[-1])

d
Wrd

In [60]:
# Slicing
s='Hello World'
print(s[0:5])

Hello

In [64]:
s='Hello World'
# Skipping
print(s[:4])

Hell

In [65]:
s='Hello World'
# Step Size
print(s[:5:2])

Hlo

In [67]:
s='Hello World'
# Reverse the String 
print(s[::-1])

dlroW olleH

In [70]:
s='Hello World'
# negative Indexing slicing
print(s[:-6:-1])

dlroW

## Editing and Deleting in Strings

In [71]:
s='Hello World'
# String are immutable 
# Editing the String 
# So we cannot chnge the String

TypeError: 'str' object does not support item assignment

In [73]:
# Delete the String 
s='Hello World'
del(s)# Delete the String

NameError: name 's' is not defined

In [74]:
s='Hello World'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [75]:
# Arithmetic Operators 
s='Hello World'
print('Delhi'+s)

DelhiHello World

In [79]:
#Mutliple Operation
s='Hello-World '
print(s*3)
print('**'*50)

Hello-World Hello-World Hello-World
****************************************************************************************************

In [83]:
# Relational Operator
print(('Delhi'=='delhi'))
print(('Delhi'!='delhi'))

False
True

In [86]:
'mumbai'>'Pune'

True

In [93]:
#Logical Operator
'hello' and 'world'

'world'

In [89]:
'world' and 'hello'# Print the last String in And

'hello'

In [90]:
'' or 'world'

'world'

In [92]:
'hel' or 'world'# or print the firdst String only if it isnot empty

'hel'

In [94]:
# Loops on Strings 
for i in 'hello':
    print(i)

h
e
l
l
o

In [96]:
for i in 'Delhi':
    print('Pune')

Pune
Pune
Pune
Pune
Pune

In [97]:
# membership Operator 
'D' in 'Delhi'

True

## Common Functions
- len
- max
- min
- sorted

In [98]:
# Common Functions 
# len
s='Hello World'
print(len(s))

11

In [103]:
#max
print(max(s))# max value based on ascii value
# min
print(min(s))# W ascii si small
# sorted
sorted(s,reverse=True)

r

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

In [106]:
# Function Specific to String
# Capitalize
s='Hello world'
print(s.capitalize())# First letter of wholeString
s.title()# first letter for each word

Hello world

'Hello World'

In [107]:
s.upper()

'HELLO WORLD'

In [108]:
s.lower()

'hello world'

In [109]:
s.swapcase()

'hELLO WORLD'

## Count/Find/Index

In [110]:
s='My name is Raghav'
s.count('a')# gives the count of the letter

3

In [112]:
s.find('is')# -1 if sbustring doesnot exist

8

In [114]:
s.index('aw')# if substring does not exist than it give error

ValueError: substring not found

## endswith/startswith

In [115]:
'My name is Raghav'.endswith('av')

True

In [116]:
s.endswith('a')

False

In [118]:
s.startswith('My')

True

## format

In [120]:
name='Yogendra'
gender='Male'
'Hi my name is {} and I am a {} '.format(name,gender)
f'Hi my name is {name} and I am a {gender}'

'Hi my name is Yogendra and I am a Male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [122]:
s.isalnum()

False

In [125]:
s='23'
s.isalpha()

False

In [126]:
s.isdigit()

True

In [128]:
'_name'.isidentifier()

True

## Split/Join

In [134]:
# it gives each split part inside the list bydefault ' '
t='Hi My name is Ragh'.split()
t

['Hi', 'My', 'name', 'is', 'Ragh']

In [135]:
# Join
" ".join(t)

'Hi My name is Ragh'

## Replace

In [136]:
# replace
s='Hi My name is Ragh'
s.replace('Ragh','Chotu')

'Hi My name is Chotu'

## Strip

In [139]:
s='     ragh      '
s.strip()
s.lstrip()
s.rstrip()

'     ragh'

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

In [ ]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

In [ ]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [ ]:
# Write a program which can remove a particular character from a string.

In [ ]:
# Write a program that can check whether a given string is palindrome or not.

In [ ]:
# Write a program to count the number of words in a string without split()

In [ ]:
# Write a python program to convert a string to title case without using the title()

In [ ]:
# Write a program that can convert an integer to string.